@model Event

<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Etkinlik Oluştur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .tdhover:hover {
            cursor: pointer;
        }

        ::-webkit-scrollbar {
            width: 20px;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #d6dee1;
            border-radius: 20px;
            border: 6px solid transparent;
            background-clip: content-box;
        }
    </style>
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h3><a asp-action="Index" class="logo">Engelsiz Rehber Admin</a></h3>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a asp-action="Index"><span class="fa fa-calendar mr-3"></span>Etkinlikler</a>
                    </li>
                    <li>
                        <a asp-action="Users"><span class="fa fa-user mr-3"></span> Kullanıcılar</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-bell mr-3"></span>Bildirim</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-comments mr-3"></span>Forum</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-question mr-3 ml-1"></span>Yardım</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="p-4 p-md-5 pt-5">
                <h1>Etkinlik Oluştur</h1>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Etkinlik Başlığı</label>
                        <input required type="text" class="form-control" asp-for="title" placeholder="Başlık girin..">
                    </div>
                    <div class="form-group">
                        <label>Etkinlik Adresi</label>
                        <input required type="text" class="form-control" asp-for="eventLocal">
                    </div>
                    <div class="form-group">
                        <label>Etkinlik Açıklaması</label>
                        <textarea required class="form-control p-3"  asp-for="content" style="background-color: #ffff;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Etkinlik Başlangıç Tarihi</label>
                        <input required type="date" class="form-control" asp-for="startDate"></input>
                    </div>
                    <div class="form-group">
                        <label>Etkinlik Bitiş Tarihi</label>
                        <input type="date" class="form-control" asp-for="finishDate"></input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Oluştur</button>
                    </div>
                </form>
        </div>

    </div>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script>document.getElementById("sidebarCollapse").click();</script>
</body>

</html>